- if user_signed_in?
  %h1= "Logged as #{current_user.email}"

.patient_authorization.patient_color
  -##Главная навигация медсестры
  .container
    .row
      .col-xs-12.col-md-12
        %section.select_user
          %nav
            %ul.nav.nav-pills
              %li.active.patients
                %a{}
                  %span Пациентам
              %li.doctors
                %a{}
                  %span Врачам и медработникам

    -#Форма авторизации для пациента
    .row
      .col-xs-12.col-md-5
        .patient_form
          %section.authorization
            = form_tag session_path(:user) do
              %h1.header Персональная история госпитализации
              .form-group
                %label{for: "email"}
                  Для входа или регистрации введите адресс электронной почты
                .row
                  .col-xs-11.col-md-11
                    %div{style: 'display: -webkit-flex'}
                      = text_field_tag 'user[email]', nil, placeholder: ''
                      = password_field_tag 'user[password]'
                      = check_box_tag 'user[remember_me]'
                      = button_to 'Далее', nil, class: 'btn btn-primary'
                %p demo: test@patient.com

    -#Форма авторизации для медсестры и врача
    .row
      .col-md-5
        .doctor_form.hidden
          %section.authorization
            %form{role: 'form'}
              %h1.header Личный рабочий кабинет
              .form-group
                .row
                  .col-xs-11.col-md-11
                    #label{for: 'login'} Логин
                    %input.form-control#login{type: 'text', placeholder: 'aseleznov'}
                    #label{for: 'password'} Пароль
                    %input.form-control#password{type: 'password', placeholder: 'testdoctor'}
                    %p demo doctor: aseleznov testdoctor
                    %p demo nurse: mkuzmenko testnurse
                    = button_to 'Войти', otdelenie_login_path, class: 'btn btn-primary'


.container
  .row
    .col-md-5
    = form_tag session_path(:user) do
      = text_field_tag 'user[email]'
      = password_field_tag 'user[password]'
      = check_box_tag 'user[remember_me]'
      = label_tag 'user[remember_me]', 'Remember me'
      %button Sign in
      = link_to "Forgot your password?", new_password_path(:user)