.main_navigation
  .container
    .row
      .col-xs-12.col-md-12
        %nav.navbar.navbar-default{role: "navigation", style: 'margin-bottom: 0px;'}
          = link_to root_path, class: 'navbar-brand' do
            = image_tag 'logo.png', size: '55x55', style: 'opacity: 0.7;'
            %span{style: 'position: relative; top:6px; margin-left: 10px; color: #BA2B22; font-size: 25pt; font-weight: bold'}
              Hospitalin
          %div{style: 'padding: 0 16px;'}
            %ul.nav.navbar-nav.navbar-right{style: 'color: white;'}
              %li{style: 'margin-right: 30px;'}
                %a{href: '#'} Хирургическое отделение №1
              %li
                %div.user_image
                  =image_tag 'sister.png', width: '44px', height: '44px'
              %li{style: 'margin-right: 20px;'}
                %a
                  %div.user_name{style: 'font-size: 14px; font-weight: bold'}= current_user.name
                  %div.user_status{style: 'opacity: 0.6'}= current_user.title
              %li
                = link_to 'Выйти', destroy_user_session_path, method: :delete
