<!DOCTYPE html>
<html>
<head>
  <%= analytics_init :local => Rails.env.development? %>
  <title>Hospitalin #Hack4Good 0.5</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/top_nurse_navigation' %>
<%= yield %>


</body>
</html>
